<nav class="navbar navbar-expand-xxl bg-dark navbar-dark sticky-top ">
  <div class="container-fluid">

    <ul class="navbar-nav me-auto  mb-lg-0 px-3">
      <li class="nav-item">
        <div class="navbar-brand ">

          <span id="job">Job</span>
          <span id="hunt"><strong>Hunt</strong> </span>
        </div>
      </li>
    </ul>
  </div>


</nav>