@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
.card{
   
    border:none;
    width:50vw;
    padding:40px;
    position:absolute;
    top:55%;
    left:50%;
    border-radius: 44px;
    transform:translate(-50%,-50%);
    background:wheat(205,46%,30%,1);
    background:linear-gradient(90deg,rgb(20, 19, 19)0%,rgb(35 60 185)100%);
    font-family: "Poppins", sans-serif;
}
.card  h1,h6{
    color:wheat;
}
label{
    color:wheat;
}
#me a:hover{
    color: red;
    text-decoration: underline;
  }
#me a{
    color:rgb(0, 255, 106);
    text-decoration: none;
  }

.image{
    
    height:45.5em; background-size:cover; width:auto;
    background-image:url('/assets/images/background-images-for-login.jpg');
    background-repeat: repeat-y;
    /*background-position:50% 50%;*/
  }
