<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-brand ">
        <span id="job">Job</span>
        <span id="hunt"><strong>Hunt</strong> </span>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav ">
        
          <li class="nav-item ">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Profile</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/profile">Edit Account details</a></li>
              <li><a class="dropdown-item" routerLink="/change-password">Change Password</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/wishlist">Wishlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 
